<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Vous êtes sur la page d'accueil</h1>
		<!-- jaffiche mes variable monNom et monAge qque j'ai passer dans ma vue / depuis mon index.js-->
		<p>Mon nom est <strong><%= monNom %></strong></p>
		<p>Mon age est <strong><%= monAge %></strong> ans</p>
	</body>
</html>